{% extends "page.twig" %}

{% block content %}

	{% block home_intro %}

		{% if post.content %}

			<div class="section">

				<div class="container-fluid">

					<h4 class="keyline-heading">
						Every appearance Donald Trump made on the Howard Stern Show (almost)
					</h4>

					<div class="the-content ">

						{{ post.content }}

					</div><!-- /.the-content -->

				</div><!-- /.container-fluid -->

			</div><!-- /.section home-intro -->

		{% endif %}

	{% endblock %}

	{% block home_episodes %}

		<div class="section home-episodes">

			<div class="container-fluid">

				{% for year, episodes in episodes_grouped_by_year %}

					<h4 class="keyline-heading">

						{{ year }}

					</h4><!-- /.keyline-heading -->

					<div class="episode-teases">

						{% for episode in episodes %}

							<a href="{{ episode.link }}" class="episode-tease">

								<div class="episode-tease__date">

									<div class="episode-tease__date-inner">

										<div class="episode-tease__date-day">
											{{ episode.date('M') }}
										</div><!-- /.episode-tease__date-day -->

										<div class="episode-tease__date-month-year">
											{{ episode.date('d Y') }}
										</div><!-- /.episode-tease__date-month-year -->

									</div><!-- /.episode-tease__date-inner -->

								</div><!-- /.episode-tease__date -->

								<div class="episode-tease__description the-content">

									<p>
										{{ episode.get_preview(50, '', '') }}
									</p>

									{% if episode.get_duration or episode.tags %}

										<div class="episode__meta">

											{% if episode.tags %}

												<div class="episode__meta-item">

													<span class="episode__meta-key">
														Tags: 
													</span>

													<span class="episode__meta-value">
														{{ episode.tags|join(', ') }}
													</span>

												</div>

											{% endif %}

											{% if episode.get_duration %}

												<div class="episode__meta-item">

													<span class="episode__meta-key">
														Duration: 
													</span>

													<span class="episode__meta-value">
														{{ episode.get_duration }}
													</span>

												</div>

											{% endif %}

										</div><!-- /.episode-tease__meta -->

									{% endif %}

									<div class="more-link">
										+ See Details
									</div>

								</div><!-- /.episode-tease__description -->

							</a><!-- /.episode-tease -->

						{% endfor %}

					</div><!-- /.episode-teases -->

				{% endfor %}

			</div><!-- /.container-fluid -->

		</div><!-- /.section home-episodes -->

	{% endblock %}

{% endblock %}